<div id="side_bar" class="fl_l">
    <div id="side_bar_inner" class="side_bar_inner" style="position: relative; margin-top: 42px;">
        <ol>
            <li id="l_pr">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/семейный" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">Семейный</span>
                    </span>
                </a>
            </li>
            <li id="l_nwsf">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/драма" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">Драма</span>
                    </span>
                </a>
            </li>
            <li id="l_msg">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/комедия" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">Комедия</span>
                    </span>
                </a>
            </li>
            <li id="l_fr">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/фантастика" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void left_count_wrap_hovered"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">Фантастика</span>
                    </span>
                </a>
            </li>
            <li id="l_gr">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/боевик" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">Боевик</span>
                    </span>
                </a>
            </li>
            <li id="l_ph">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/приключения" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">Приключения</span>
                    </span>
                </a>
            </li>
            <li id="l_aud">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/музыка" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">Музыка</span>
                    </span>
                </a>
            </li>
            <li id="l_vid">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/ужасы" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">Ужасы</span>
                    </span>
                </a>
            </li>
            <li id="l_ap">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/спорт" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">Спортивные</span>
                    </span>
                </a>
            </li>
            <li class="more_div l_main"></li>
            <li class="genre_app">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.year %>/2016" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">2016 год</span>
                    </span>
                </a>
            </li>
            <li class="genre_app">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.year %>/2015" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">2015 год</span>
                    </span>
                </a>
            </li>
            <li class="genre_app">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.year %>/2014" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">2014 год</span>
                    </span>
                </a>
            </li>
            <li class="more_div"></li>
            <li class="genre_app">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.country %>/США" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">Американские</span>
                    </span>
                </a>
            </li>
            <li class="genre_app">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.country %>/Россия" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">Русские</span>
                    </span>
                </a>
            </li>
            <li class="genre_app">
                <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.country %>/Япония" class="left_row">
                    <span class="left_fixer">
                        <span class="left_count_wrap fl_r left_void"><span class="inl_bl left_count_sign"></span></span>
                        <span class="left_icon fl_l"></span>
                        <span class="left_label inl_bl">Японские</span>
                    </span>
                </a>
            </li>
        </ol>
    </div>

    <div class="recentlyViewedBlock" style="margin: 20px 0 0 0; width: 150px; text-align: center; display: none;">
        <div style="color: #999;">Вы надавно смотрели:</div>
        <div id="recentlyViewed"></div>
    </div>

</div>