<div class="narrow_column_wrap">
    <div style="margin-top: 0px;" class="narrow_column" id="narrow_column">
        <div class="page_block page_photo">
            <div class="page_avatar_wrap">
                <div id="page_avatar" class="page_avatar">
                    <img class="page_avatar_img" <% if (typeof movie === 'object') { %>src="<%- movie.poster %>"
                         data-cinemapress-poster="<%- movie.poster %>"
                         <% } else { %>src="/themes/<%- page.theme %>/public/images/ava.png"
                            <% } %>
                         alt="<%= page.title %>" title="<%= page.title %>">
                </div>
            </div>
        </div>

        <!--
        <% var group_id = 26750264; /* ID public VK.com */ %>
        <% if (group_id) { %>

        <div class="page_block">
            <script src="//vk.com/js/api/openapi.js?127"></script>
            <div id="vk_groups"></div>
            <script>
                VK.Widgets.Group("vk_groups", {mode: 3, width: "230", color1: 'FFFFFF', color2: '000000', color3: '5E81A8'}, parseInt(<%- group_id %>));
            </script>
        </div>

        <% } %>
        -->

        <% if (typeof movie === 'object') { %>

            <div class="page_block">
                <div class="module clear page_list_module _module">
                    <div class="module_header">
                        <h3 class="header_top clear_fix">
                            <span class="header_label fl_l"><%- page.l.navigation %></span>
                        </h3>
                    </div>
                    <div class="module_body clear_fix">
                        <div style="margin: auto; text-align: center;">

                            <a href="<%- movie.url %>" class="flat_button" style="display: block;margin: 2px auto;">
                                <%- page.l.information %>
                            </a>
                            <% if (page.urls.movies.online) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.online %>" class="flat_button"
                                   style="display: block;margin: 2px auto;">
                                    <%- page.l.online %>
                                </a>
                            <% } %>
                            <% if (page.urls.movies.download) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.download %>" class="flat_button"
                                   style="display: block;margin: 2px auto;">
                                    <%- page.l.download %>
                                </a>
                            <% } %>
                            <% if (page.urls.movies.trailer) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.trailer %>" class="flat_button"
                                   style="display: block;margin: 2px auto;">
                                    <%- page.l.trailer %>
                                </a>
                            <% } %>
                            <% if (page.urls.movies.picture) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.picture %>" class="flat_button"
                                   style="display: block;margin: 2px auto;">
                                    <%- page.l.picture %>
                                </a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

        <% } %>

        <% if (typeof page.sorting === 'object') { %>

            <div class="page_block">
                <div class="module clear page_list_module _module">
                    <div class="module_header">
                        <h3 class="header_top clear_fix">
                            <span class="header_label fl_l"><%- page.l.sorting %></span>
                        </h3>
                    </div>
                    <div class="module_body clear_fix">
                        <div style="margin: auto; text-align: center;">

                            <% page.sorting.forEach(function (sort) { %>

                                <% if (sort.active) { %>

                                    <a href="<%- sort.url %>" class="flat_button"
                                       style="display: block;margin: 2px auto; color: #000; background: #fff;">
                                        <strong><%- sort.name %></strong>
                                    </a>

                                <% } else { %>

                                    <a href="<%- sort.url %>" class="flat_button"
                                       style="display: block;margin: 2px auto;">
                                        <%- sort.name %>
                                    </a>

                                <% } %>

                            <% }); %>

                        </div>
                    </div>
                </div>
            </div>

        <% } %>

        <% if (typeof top === 'object' && top.length) { %>

            <div class="page_block">
                <div class="module clear page_list_module _module">
                    <div class="module_header">
                        <h3 class="header_top clear_fix">
                            <span class="header_label fl_l"><%- page.l.top %></span>
                        </h3>
                    </div>
                    <div class="module_body clear_fix">

                        <% top.forEach(function (movie) { %>

                            <a href="<%- movie.url %>" class="line_cell clear_fix">
                                <div class="fl_l thumb">
                                    <img class="cell_img" src="<%- movie.poster %>" alt="<%= movie.title %>">
                                </div>
                                <div class="fl_l info">
                                    <%= movie.title %>
                                </div>
                            </a>

                        <% }); %>

                    </div>
                </div>
            </div>

        <% } %>

        <div class="page_block">
            <div class="module clear page_list_module _module">
                <div class="module_header">
                    <h3 class="header_top clear_fix">
                        <span class="header_label fl_l"><%- page.l.allCategories %></span>
                    </h3>
                </div>
                <div class="module_body clear_fix">
                    <a href="/<%- page.urls.genre %>" class="line_cell clear_fix">
                        <div class="fl_l thumb">
                            <img class="cell_img"
                                 src="/themes/<%- page.theme %>/public/images/ava.png?v=<%- page.ver %>" alt="Logo">
                        </div>
                        <div class="fl_l info">
                            <%- page.l.allGenres %>
                        </div>
                    </a>
                    <a href="/<%- page.urls.year %>" class="line_cell clear_fix">
                        <div class="fl_l thumb">
                            <img class="cell_img"
                                 src="/themes/<%- page.theme %>/public/images/ava.png?v=<%- page.ver %>" alt="Logo">
                        </div>
                        <div class="fl_l info">
                            <%- page.l.allYears %>
                        </div>
                    </a>
                    <a href="/<%- page.urls.country %>" class="line_cell
                    clear_fix">
                        <div class="fl_l thumb">
                            <img class="cell_img"
                                 src="/themes/<%- page.theme %>/public/images/ava.png?v=<%- page.ver %>" alt="Logo">
                        </div>
                        <div class="fl_l info">
                            <%- page.l.allCountries %>
                        </div>
                    </a>
                    <a href="/<%- page.urls.actor %>" class="line_cell clear_fix">
                        <div class="fl_l thumb">
                            <img class="cell_img"
                                 src="/themes/<%- page.theme %>/public/images/ava.png?v=<%- page.ver %>" alt="Logo">
                        </div>
                        <div class="fl_l info">
                            <%- page.l.allActors %>
                        </div>
                    </a>
                    <a href="/<%- page.urls.director %>" class="line_cell clear_fix">
                        <div class="fl_l thumb">
                            <img class="cell_img"
                                 src="/themes/<%- page.theme %>/public/images/ava.png?v=<%- page.ver %>" alt="Logo">
                        </div>
                        <div class="fl_l info">
                            <%- page.l.allDirectors %>
                        </div>
                    </a>
                    <a href="/<%- page.urls.content %>?tag=<%- page.l.collections %>" class="line_cell clear_fix">
                        <div class="fl_l thumb">
                            <img class="cell_img"
                                 src="/themes/<%- page.theme %>/public/images/ava.png?v=<%- page.ver %>" alt="Logo">
                        </div>
                        <div class="fl_l info">
                            <%- page.l.collections %>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <% if (typeof index === 'object') {
                for (var type in index) {
        if (index.hasOwnProperty(type) && index[type].length && type === 'episode') {
        index[type].forEach(function (category) { %>

            <div class="page_block">
                <div class="module clear album_module _module" id="public_albums">
                    <div class="module_header">
                        <h3 class="header_top clear_fix">
                            <span class="header_label fl_l"><%- category.name %></span>
                        </h3>
                    </div>
                    <div class="module_body clear_fix">

                        <% var moreEpisodes = false; %>
                        <% if (category.movies.length) {
                        category.movies.forEach(function (movie) { %>

                            <div class="clear_fix clear page_album_row"
                                 <% if (movie.hide) { moreEpisodes = true; %>style="display:none"
                                 data-more-episodes="hide"
                                    <% } %>
                            >
                                <a href="<%- movie.url %>" class="page_album_link">
                                    <div class="page_album_thumb_wrap">
                                        <img class="page_album_thumb" src="<%- movie.poster %>"
                                             alt="<%= movie.title %>">
                                    </div>
                                    <div class="page_album_title">
                                        <div class="page_album_title_text" title="<%= movie.title %>">
                                            <% if (movie.season && movie.episode) { %><%- movie.season %> <%- page.l.season %> <%- movie.episode %> <%- page.l.episode %><% if (movie.translate) { %>
                                                <br><%- movie.translate %><% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                </a>
                                <a class="bg"></a>
                            </div>

                        <% }); } %>

                        <% if (moreEpisodes) { %>
                            <div class="moreEpisodes"
                                 onclick="var dme = document.querySelectorAll('[data-more-episodes]'); dme && dme.forEach(function(e) {e.style.display='block'});this.style.display='none'"><%- page.l.moreEpisodes %></div>
                        <% } %>

                    </div>
                </div>
            </div>

        <% }); } } } %>

        <% if (typeof page.adv === 'object' && page.adv.right) { %>
            <div class="page_block">
                <div class="module clear page_list_module _module">
                    <div class="module_body clear_fix">
                        <div style="text-align: center;">
                            <%- page.adv.right %>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>

        <% if (typeof soon === 'object' && soon.length) { %>

            <div class="page_block">
                <div class="module clear album_module _module" id="public_albums">
                    <div class="module_header">
                        <h3 class="header_top clear_fix">
                            <span class="header_label fl_l"><%- page.l.soon %></span>
                        </h3>
                    </div>
                    <div class="module_body clear_fix">

                        <% soon.forEach(function (movie) { %>

                            <div class="clear_fix clear page_album_row">
                                <a href="<%- movie.url %>" class="page_album_link">
                                    <div class="page_album_thumb_wrap">
                                        <img class="page_album_thumb" src="<%- movie.poster %>"
                                             alt="<%= movie.title %>">
                                    </div>
                                    <div class="page_album_title">
                                        <div class="page_album_title_text"
                                             title="<%= movie.title %>"><%= movie.title %></div>

                                    </div>
                                </a>
                                <a class="bg"></a>
                            </div>

                        <% }); %>

                    </div>
                </div>
            </div>

        <% } %>

        <% if (typeof news === 'object' && news.length) { %>
            <% news.forEach(function (content) { %>
                <div style="float: left; width: 100%;">
                    <div style="margin: 0; padding: 10px 0;">
                        <a href="<%- content.url %>" class="cinemapress-news"
                           style="background-image:url('<%- content.image %>');">
                            <div class="cinemapress-news-title">
                                <%= content.title %>
                            </div>
                        </a>
                    </div>
                </div>
            <% }); %>
            <div style="clear: both"></div>
        <% } %>

        <% if (typeof recent === 'object' && recent.length) { %>
            <% recent.forEach(function (comment) { %>
                <div>
                    <div class="cinemapress-comment">
                        <div class="cinemapress-comment-head">
                            <div class="cinemapress-comment-head-avatar">
                                <img src="<%- comment.avatar %>" alt="<%= comment.user %>">
                            </div>
                            <div class="cinemapress-comment-head-meta">
                                <div class="cinemapress-comment-head-meta-title">
                                    <a href="<%- comment.url %>" title="<%= comment.title %>"><%= comment.title %></a>
                                </div>
                                <div class="cinemapress-comment-user" data-comment-id="<%- comment.id %>">
                                    <div class="cinemapress-comment-user-name">
                                        <%- comment.user %>
                                    </div>
                                    <div class="cinemapress-comment-user-said">
                                        <%- page.l.said %>
                                    </div>
                                    <div class="cinemapress-comment-user-date">
                                        <%- comment.date %>
                                    </div>
                                    <div class="cinemapress-comment-user-link">
                                        <a href="<%- comment.url %>#c<%- comment.id %>"
                                           title="<%= comment.title %>">#</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cinemapress-comment-bg cinemapress-comment-radius">
                            <%- comment.comment %>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } %>

        <div class="page_block">
            <div class="module clear page_list_module _module">
                <div class="module_header">
                    <h3 class="header_top clear_fix">
                        <span class="header_label fl_l"><%- page.l.contacts %></span>
                    </h3>
                </div>
                <div class="module_body clear_fix">
                    <div class="line_cell clear_fix">
                        <div class="fl_l thumb">
                            <img class="cell_img"
                                 src="/themes/<%- page.theme %>/public/images/ava.png?v=<%- page.ver %>" alt="Logo">
                        </div>
                        <div class="fl_l extra_info">
                            <div class="people_name">Email</div>
                            <div class="people_desc"></div>
                            <div class="people_extra"><span id="mylo">Activate JS</span>
                                <script>(function(d, i, l, r) {
                                    d.getElementById(i).innerHTML = l + '@' + r;
                                  })(window.document, 'mylo', '<%- page.email.split('@')[0] %>', '<%- page.email.split('@')[1] %>');</script>
                            </div>
                        </div>
                    </div>
                </div>

                <% if (page.social) { %>

                    <div class="module_body clear_fix">
                        <div style="margin: auto; text-align: center;">

                            <% if (page.social.vk) { %>
                                <a href="<%- page.social.vk %>" class="flat_button"
                                   style="display: block;margin: 2px auto; background: #507299">
                                    <%- page.l.vk %>
                                </a>
                            <% } %>
                            <% if (page.social.facebook) { %>
                                <a href="<%- page.social.facebook %>" class="flat_button" style="display: block;margin: 2px
                        auto; background: #3B5998">
                                    facebook
                                </a>
                            <% } %>
                            <% if (page.social.telegram) { %>
                                <a href="<%- page.social.telegram %>" class="flat_button" style="display: block;margin: 2px
                    auto; background: #2ca0d2">
                                    telegram
                                </a>
                            <% } %>
                            <% if (page.social.twitter) { %>
                                <a href="<%- page.social.twitter %>" class="flat_button" style="display: block;margin: 2px
                        auto; background: #1DA1F2">
                                    twitter
                                </a>
                            <% } %>
                            <% if (page.social.youtube) { %>
                                <a href="<%- page.social.youtube %>" class="flat_button" style="display: block;margin: 2px
                        auto; background: #FF0000">
                                    <%- page.l.youtube %>
                                </a>
                            <% } %>
                            <% if (page.social.instagram) { %>
                                <a href="<%- page.social.instagram %>" class="flat_button" style="display: block;margin: 2px
                        auto; background: #005CA3">
                                    <%- page.l.instagram %>
                                </a>
                            <% } %>

                        </div>
                    </div>

                <% } %>

            </div>
        </div>

    </div>
</div>